#wrapper {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

section {
    width: 50%;
}

section:first-child {
    border-right: 1px solid #000;
}

section:last-child {
    margin-left: 5%;
}

#name, #surname, #age {
    margin-bottom: 1%;
}